// vars
$mainFont:'Roboto', sans-serif;
$secondaryFont:Verdana, sans-serif;
$mainColor: #c1101a;
$white:rgb(241, 232, 232);
$black: rgb(21, 21, 21);

$textSm:1em;
$textMd:1.4em;
$textLg:3em;
